<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<div id="container">
   
    <h1 id="team">Nanokauppa-tiimi</h1>

        


        <p id="teaminfo">
        Olemme erikoistuneet Nano-kryptovaluutan välittämiseen. Tarkoituksemme on helpottaa Nanon saatavuutta laajemmalle käyttäjäkunnalle.<br> 
        Lisätietoja Nanoon liittyen löydät osoitteesta nano.org.
        </p>
        <iframe id="nanovideo" frameborder="0" width="60%" height="400" src="https://player.vimeo.com/video/253563861">
        </iframe>
       <div id="faq"> <h1 id="faq">Usein kysytyt kysymykset (FAQ)</h1>      
        <h2 class="faqheaders">1. Mikä on Nano?</h2>
            <li>Nano on vuonna 2015 luotu kryptovaluutta, joka block lattice-arkkitehtuurin ansioista toimii ilman louhintaa. </li>
        <h2 class="faqheaders">2. Miten Nano eroaa muista kryptovaluutoista?</h2>
            <li>Nanoa pystyy lähettämään henkilöltä toiselle nopeasti ja ilman kuluja sen arkkitehtuurin ansiosta. Koska Nano ei tarvitse louhintaa, se ei myöskään kuluta luonnonvaroja. </li>
        <h2 class="faqheaders">3. Miksi keskitytte pelkästään Nanon välittämiseen?</h2>
            <li>Näemme, että Nano on ylivoimainen kryptovaluutta arvonvaihdantaan sen nopeuden, kuluttomuuden sekä ympäristöystävällisyyden vuoksi.  </li>
        <h2 class="faqheaders">4. Mitä palvelu maksaa? </h2>
            <li>Jokainen osto- ja myyntitapahtuma sisältää 3% palvelumaksun + 1e pohjakulun. </li>
        <h2 class="faqheaders">5. Miten palvelu toimii?</h2>
            <li>Voit valita haluamasi mukaan Nanon oston tai myynnin. Lomakkeen täytettyäsi teille lähetetään sähköposti, joka sisältää maksuohjeet.  </li>
        <h2 class="faqheaders">6. Miksi tilauksen käsittely tapahtuu vain arkisin 10-15? </h2>
            <li>Käsittelemme tilaukset itse maksimoidaksemme turvallisuuden nykyisessä yrityksen aikaisessa vaiheessa.  </li>
        <h2 class="faqheaders">7. Mitä maksutapoja palvelu hyväksyy? </h2>
            <li>Tällä hetkellä pystymme hyväksymään pelkästään tilisiirtoja. Maksuohjeet lähetetään sähköpostitse.  </li>
        <h2 class="faqheaders">8. Nanoa ostaessa näkyviin tulee arvioitu Nano-määrä. Pystyttekö takaamaan saman määrän tilauksen käsittelyn jälkeen? </h2>
            <li>Nanon hinta muuttuu jatkuvasti. Pyrimme käsittelemään tilaukset mahdollisimman nopeasti, mutta emme pysty takaamaan täysin samaa arvioitua Nano-määrää.
                Lopullinen määrä määräytyy tilauksen käsittelyhetkellä olevalla kurssilla. </li>
        <h2 class="faqheaders">9. Annatteko korvauksia, jos Nanon kurssi tippuu jyrkästi oston jälkeen? </h2>
            <li>Tarkoituksemme on toimia puhtaasti välityspalveluna. Emme ole vastuussa Nanon volatiliteetista.  </li>
        <h2 class="faqheaders">10. Miksi käyttäisin palveluanne? </h2>
            <li>Tarjoamme tällä hetkellä Pohjoismaiden ainoan NANO/EUR osto- sekä myyntikanavan. Ostaminen meiltä on helppoa ja samalla säästät myös aikaasi. </li>
        <h2>Tarvitsetko lisätietoja?</h2>
                    <li>Olethan meihin yhteydessä sähköpostitse <strong>nanokauppa@nano.com.</strong></li>
                    
        </div>
        
</div>