<div id="content">
    <div id="header">Myyntilomakkeet</div>
    <div id="search">
        <input type="text" [(ngModel)]="term" id="search" placeholder="Haku">
      </div>
  <div id="pages">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div *ngFor="let form of Sellforms.reverse() | filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
    <div class="orders">
      <div class="stat">Etunimi: {{ form.firstname }}</div>
      <div class="stat">Sukunimi: {{ form.lastname }}</div>
      <div class="stat">Sähköposti: {{ form.email }}</div>
      <div class="stat">Lompakko: {{ form.wallet }}</div>
      <div class="stat">Tilinumero: {{ form.account }}</div>
      <div class="stat">Myyntimäärä: {{ form.sellAmount }} NANO</div>
      <div class="stat">Uploaded: {{ form.uploaded }}</div>   
    </div>
  </div>
</div>
