
#content {
  padding:20px;
  margin: auto;
}

.orders{
  padding-bottom: 30px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  text-align: center;
}

.stat{
  margin-bottom: 10px;
}
.button{
  font-size: 20px;
  margin-bottom: 40px;
  background-color: lightgray;
  color: black;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.identifier{
  font-size: 170%;
  font-weight: bold;
  padding-bottom: 20px;
}

#pages{
  text-align: center;
  padding: 20px;
}
#header{
  text-align: center;
  font-size: 200%;
  margin-bottom: 20px;
}

#search{
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}